# Django-specific files
.DS_Store
*.sqlite3
db.sqlite3
local_settings.py
media/
static/

# Build files
dist/
build/
*.egg-info/
.pytest_cache/
coverage/
htmlcov/

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.pyc
*.pyo
__pycache__/
*~

# Log files
*.log

# Virtual environment
venv/

# Testing files
.env  # If you use environment variables for testing

# Jupyter Notebook files
.ipynb_checkpoints/